*:focus {
  outline: 0; }

.PlotterContainer {
  max-width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px; }

.PlotterCanvas {
  position: absolute;
  max-width: 480px;
  height: 480px; }

.PlotterCanvas--Plotter {
  z-index: 2; }

.PlotterCanvas--Tangle {
  z-index: 1; }

.PlotterCanvas--Background {
  z-index: 0; }

.PlotterRange {
  float: left;
  position: relative;
  z-index: 9;
  margin: 0px; }

.PlotterRange--X {
  left: 500px;
  top: 230px;
  clear: both; }

.PlotterRange--Y {
  left: 500px;
  top: -30px;
  clear: both; }

.Inputs {
  width: 100%;
  height: 100px;
  right: 0px;
  top: 7.5px;
  /*position: absolute;*/ }

.Inputs-InputsTitle {
  float: left;
  color: white; }

.Inputs-InputFunction {
  clear: both;
  float: left;
  width: 100%;
  height: 100%;
  font-family: Verdana;
  font-size: 14px;
  outline: none;
  -webkit-appearance: none;
  background: rgba(80, 80, 40, 0.1);
  border: 0px;
  padding: 10px;
  box-sizing: border-box;
  color: #646464;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 4px; }

.Inputs-ButtonDraw {
  margin-top: 20px;
  float: left;
  clear: both; }

.Tangle-Test {
  padding-top: 10px;
  clear: both;
  color: white; }

.Inputs-Tangle {
  float: left;
  clear: both;
  letter-spacing: 1px;
  margin-top: 10px; }

.Warnings {
  clear: both;
  color: #ff7b7b; }
